<div class="card shadow mb-3">
  <h3 class="card-header bg-primary text-white">
    {{editar ? "Editar Solicitação de Diária" : "Solicitar Diária"}}
  </h3>
  <div class="card-body">
    <form [formGroup]="formCadastro" (submit)="cadastrar()">
      <!-- campos do formulário -->
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 form-group">
          <label for="nomeDoViajante">Nome do Viajante</label>
          <input 
            formControlName="nomeDoViajante" 
            type="text" 
            id="nomeDoViajante"
            class="form-control"
            [class.is-invalid]="(submited || f.nomeDoViajante.touched) && f.nomeDoViajante.invalid"
            [readonly]="ehProprio || editar"
            [class.bg-light]="ehProprio || editar"
          >
        </div>
        <div class="col-12 col-md-6 col-lg-3 form-group">
          <label for="emailDoViajante">E-mail do Viajante</label>
          <input 
            formControlName="emailDoViajante" 
            type="text" 
            id="emailDoViajante"
            class="form-control"
            [class.is-invalid]="(submited || f.emailDoViajante.touched) && f.emailDoViajante.invalid"
            [readonly]="ehProprio || editar"
            [class.bg-light]="ehProprio || editar"
          >
        </div>

        <div *ngIf="editar && this.dadosAlteracao != null && this.dadosAlteracao?.analiseSolicitacao?.justificativa !== ''" class="col-12 col-md-6 col-lg-6 form-group">
          <label for="observacao">Observação</label>
          <textarea 
            type="text" 
            rows="1"
            id="observacao"
            class="form-control"
            [disabled]="true"
            [value]="dadosAlteracao?.analiseSolicitacao?.justificativa"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group">
          <label for="finalidade">Finalidade da Viagem</label>
          <textarea 
            formControlName="finalidade" 
            id="finalidade" 
            class="form-control"
            [class.is-invalid]="(submited || f.finalidade.touched) && f.finalidade.invalid"
            ></textarea>
        </div>
      </div>

      <!-- array de formulário -->
      <h4>Trechos da Viagem</h4>
      <div formArrayName="trechos" style="margin-bottom: 13px;">
        <div *ngFor="let trecho of formTrecho.controls; let i = index" style="margin-top: 20px;">
          <app-trecho [trecho]="$any(trecho)" [posicao]="i" [submited]="submited" [podeExcluir]="formTrecho.controls.length > 1" (excluir)="excluirTrecho($event)"></app-trecho>
        </div>
        <div *ngIf="formTrecho.controls.length < 4" style="text-align: center; margin-top: 20px;">
          <button id="add-novo-trecho" type="button" (click)="adicionarNovoTrecho()" ngbTooltip="Adicionar novo trecho"><i class="fas fa-plus"></i></button>
        </div>
      </div>

      <!-- outros dados formulário -->
      <h4>Informações da Viagem</h4>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 form-group">
          <label for="distanciaKm">Distância em KM</label>
          <input 
            formControlName="distanciaKm" 
            type="number" 
            pattern="\d*"
            id="distanciaKm"
            class="form-control"
            [class.is-invalid]="(submited || f.distanciaKm.touched) && f.distanciaKm.invalid"
          >
        </div>

        <div class="col-12 col-md-6 col-lg-3 form-group">
            <label for="numeroDiarias">Número Total de Diárias</label>
            <input 
              formControlName="numeroDiarias" 
              type="number" 
              id="numeroDiarias"
              pattern="^\d*(\.\d{0,2})?$"
              class="form-control"
              [class.is-invalid]="(submited || f.numeroDiarias.touched) && f.numeroDiarias.invalid"
            >
        </div>

        <div class="col-12 col-md-6 col-lg-3 form-group">
            <label for="valorUnitarioDiaria">Valor Unitário da Diária</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">R$</span>
              </div>
              <input 
                type="text" 
                class="form-control" 
                id="valorUnitarioDiaria" 
                formControlName="valorUnitarioDiaria" 
                currencyMask
                [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false, align:'right' }"
                maxlength="14" 
                tabindex="4"
                [class.is-invalid]="(submited || f.valorUnitarioDiaria.touched) && f.valorUnitarioDiaria.invalid"
              >
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 form-group">
            <label for="nomeDoViajante">Valor Total a Pagar</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">R$</span>
              </div>
              <input 
                formControlName="valorTotal" 
                type="text" 
                id="valorTotal"
                class="form-control"
                currencyMask
                [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false, align:'right' }"
                [readonly]="true"
              >
            </div> 
        </div>
      </div>

      <!-- termo -->
      <hr>

      <div class="row">
        <div class="col-12">
          <div class="form-check">
              <input 
                formControlName="termo" 
                class="form-check-input" 
                type="checkbox" 
                id="termo"
                [class.is-invalid]="(submited || f.termo.touched) && f.termo.invalid"
              >
              <label class="form-check-label" for="termo">
                Declaro que as informações prestadas neste documento são verdadeiras e de minha inteira responsabilidade.
              </label>
          </div>
        </div>
      </div>

      <!-- botões -->

      <div class="row" style="justify-content: right; margin-top: 13px;">
        <div class="col-12 col-md-6 col-lg-3" style="margin-top: 3px;">
          <button (click)="cancelar()" type="button" class="btn btn-danger" style="width: 100%">Cancelar</button>
        </div>
        <div class="col-12 col-md-6 col-lg-3" style="margin-top: 3px;">
          <button type="submit" class="btn btn-success" style="width: 100%" [disabled]="carregando || formCadastro.invalid">{{editar? "Ree": "E"}}nviar Solicitação</button>
        </div>
      </div>

    </form>
    
  </div>
</div>
