<form [formGroup]="formCadastro" (submit)="salvar()">
    <div class="card shadow mb-3">
        <h3 class="card-header bg-primary text-white">Cadastrar tipo de indicador</h3>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="nomeTipoIndicador">Nome</label>
                            <input type="text" class="form-control" id="nomeTipoIndicador"
                                placeholder="Nome do tipo de indicador" formControlName="nome" maxlength="100">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="siglaTipoIndicador">Sigla</label>
                            <input type="text" class="form-control" id="siglaTipoIndicador"
                                placeholder="Sigla do tipo de indicador" formControlName="sigla" maxlength="20">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="descricaoTipoIndicador">Descrição</label>
                            <textarea class="form-control" id="descricaoTipoIndicador"
                                formControlName="descricao" maxlength="200"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="float-end">
                <app-botao-voltar textoBotao='Cancelar'></app-botao-voltar>&nbsp;
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Cadastrar tipo de indicador</button>
            </div>
        </div>
    </div>
</form>
