<div class="mt-3">
    <footer>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <p>SAUS Q.1 - Bloco J - Entradas 10 e 20<br> Ed. Clésio Andrade - CEP
                        70070-944 - Brasília - DF<br> Fale Conosco: 0800 728 2891 </p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <p>© {{ this.ano }} - SEST SENAT<br />
                        Versão: {{versao}}</p>
                </div>
            </div>
        </div>
    </footer>
</div>
