<form [formGroup]="formCadastro" (submit)="salvar()">
        <div class="card shadow mb-3">
            <h3 class="card-header bg-primary text-white">Cadastrar lançamento da conta corrente</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-3 pt-0">Tipo de lançamento:</legend>
                                <div class="col-sm-9">
                                    <ng-container *ngFor="let tipoLancamento of lstTipoLancamento">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="idTipoLancamento" formControlName="idTipoLancamento" [id]="'idTipoLancamento'+tipoLancamento.idIndicador" [value]="tipoLancamento.idIndicador" (change)="mudarTipoLancamento()">
                                            <label class="form-check-label" [attr.for]="'idTipoLancamento' + tipoLancamento.idIndicador">
                                                {{tipoLancamento.nome}}
                                            </label>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="slctExercicio">Exercício:</label>
                                <div class="input-group">
                                    <select class="form-control" id="slctExercicio" formControlName="anoExercicio" tabindex="3"
                                        (change)="mudouAno()">
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="slctExercicio" id="label-emptyspace"></label>
                                <div class="input-group">
                                    <select class="form-control" id="slctExercicio" formControlName="mesExercicio" tabindex="4"
                                        (change)="verificaSeExistePrestacao()">
                                        <option value="1">1 - Janeiro</option>
                                        <option value="2">2 - Fevereiro</option>
                                        <option value="3">3 - Março</option>
                                        <option value="4">4 - Abril</option>
                                        <option value="5">5 - Maio</option>
                                        <option value="6">6 - Junho</option>
                                        <option value="7">7 - Julho</option>
                                        <option value="8">8 - Agosto</option>
                                        <option value="9">9 - Setembro</option>
                                        <option value="10">10 - Outubro</option>
                                        <option value="11">11 - Novembro</option>
                                        <option value="12">12 - Dezembro</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="exibirCampoArquivo"  class="arquivo form-group col-md-6">
                              <app-upload-arquivo mode="basic" (enviouArquivo)="subiuArquivo($event)"></app-upload-arquivo>
                              <p>{{nomeArquivo}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="txtData">Data do evento:</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="txtData" formControlName="dataEvento" tabindex="5">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="txtValor">Valor:</label>
                                <input type="text" class="form-control" id="txtValor" formControlName="valor" currencyMask
                                    [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false, align:'right' }" maxlength="14" tabindex="6">
                            </div>
                            <ng-container *ngIf="exibirCampoItem">
                                <div class="form-group col-md-6">
                                    <label for="slctItem">Item:</label>
                                    <select class="form-control" id="slctItem" formControlName="idItemLancamento" tabindex="7">
                                        <option value="null" [disabled]="true">Selecione</option>
                                        <ng-container *ngFor="let itemLancamento of lstItemLancamento">
                                            <option [value]="itemLancamento.idItemLancamento">{{itemLancamento?.item}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="float-end">
                    <app-botao-voltar textoBotao='Cancelar'></app-botao-voltar>&nbsp;
                    <button type="submit" [disabled]="!formCadastro.valid || acaoBloqueada" class="btn btn-success" tabindex="8"><i class="fas fa-save"></i>&nbsp;Cadastrar
                        lançamento</button>
                </div>
            </div>
        </div>
    </form>
