<div class="card shadow mb-3">
    <h3 class="card-header bg-primary text-white">
        <i class="fas fa-tasks"></i>
        Gerenciar Estimativa de Custo
    </h3>
    <div *ngIf="cadastros$ | async as cadastros; else carregando" class="card-body">
        <table class="table table-bordered table-hover table-sm table-striped">
            <thead>
                <tr>
                    <th
                        class="align-middle text-center"
                        scope="col">
                        Federação
                    </th>
                    <th
                        class="align-middle text-center"
                        scope="col">
                        Exercício
                    </th>
                    <th
                        class="align-middle text-center"
                        scope="col">
                        Status
                    </th>
                    <th
                        class="align-middle text-center"
                        scope="col">
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cadastro of cadastros">
                    <td
                        scope="row"
                        class="align-middle text-center">
                        {{ cadastro.siglaFederacao }}
                    </td>
                    <td class="align-middle text-center">{{ cadastro.anoExercicio }}</td>
                    <td class="align-middle text-center">{{ cadastro.nomeCadastroStatus }}</td>
                    <td class="align-middle text-center">
                        <div
                            class="btn-group"
                            role="group"
                            aria-label="Ação">
                            <button
                                [routerLink]="['/estimativaDeCusto/analisar', cadastro.idCadastro, 'visualizar']"
                                ngbTooltip="Analisar"
                                placement="bottom"
                                type="button"
                                class="btn btn-primary btn-sm">
                                <i class="fas fa-search-dollar"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #carregando>
        <div class="card-body">
            <app-loading-div mensagem="Carregando..."></app-loading-div>
        </div>
    </ng-template>
</div>
