

.ql-formats {
    border-right: thin solid #d6d6d6;
    padding-right: 15px;
    margin-right: 0;
}

.ql-formats:last-child {
    border: none;
}

.disabled-toolbar{
    pointer-events: none;
    opacity: 0.7;
}

.error-ql{
    border-color: #dc3545;
}

.error-ql-top{
    border-bottom-color: #dc3545;
}