<dl id="debugger" *ngIf="exibirDebugger">
    <div class="d-block d-sm-none"><i class="fas fa-arrows-alt-h"></i>&nbsp;<strong>XS</strong></div>
    <div class="d-none d-sm-block d-md-none"><i class="fas fa-arrows-alt-h"></i>&nbsp;<strong>SM</strong></div>
    <div class="d-none d-md-block d-lg-none"><i class="fas fa-arrows-alt-h"></i>&nbsp;<strong>MD</strong></div>
    <div class="d-none d-lg-block d-xl-none"><i class="fas fa-arrows-alt-h"></i>&nbsp;<strong>LG</strong></div>
    <div class="d-none d-xl-block"><i class="fas fa-arrows-alt-h"></i>&nbsp;<strong>XL</strong></div>
</dl>