<div class="card shadow mb-3">
    <h3 class="card-header bg-primary text-white">Extrato da conta corrente</h3>
    <div class="card-body">
        <div class="row">
            <div class="col" *ngIf="podeEditar">
                <a class="btn btn-block btn-success w-100" (click)="cadastrarLancamentoRedirecionar()"><i class="fas fa-receipt"></i>&nbsp;Cadastrar Lançamento</a>
            </div>
            <div class="col" *ngIf="lstLancamentos.length > 0">
                <button type="button" class="btn btn-outline-success w-100" (click)="exportarClick()">
                    <i class="fas fa-file-export"></i> Gerar Excel</button>
            </div>
        </div>
        <app-barra-espacamento></app-barra-espacamento>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="slcPorExercicio">Ano</label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" id="slcPorExercicio" [class.is-invalid]="submited && this.noValue(filtroAno)" [(ngModel)]="filtroAno">
                            <option selected disabled value="0">Ano</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="slctExercicio">Mês</label>
                    <div class="input-group">
                        <select class="form-control form-control-sm" id="slctExercicio" tabindex="4" [class.is-invalid]="submited && this.noValue(filtroMes)" [(ngModel)]="filtroMes">
                            <option selected disabled value="0">Mês</option>
                            <option value="1">1 - Janeiro</option>
                            <option value="2">2 - Fevereiro</option>
                            <option value="3">3 - Março</option>
                            <option value="4">4 - Abril</option>
                            <option value="5">5 - Maio</option>
                            <option value="6">6 - Junho</option>
                            <option value="7">7 - Julho</option>
                            <option value="8">8 - Agosto</option>
                            <option value="9">9 - Setembro</option>
                            <option value="10">10 - Outubro</option>
                            <option value="11">11 - Novembro</option>
                            <option value="12">12 - Dezembro</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="slctAjuste">Há ajustes para despesa?</label>
                    <select class="form-control form-control-sm" id="slctAjuste" [(ngModel)]="filtroAjuste">
                        <option selected [disabled]="true">Selecione</option>
                        <option [value]="null">Todos</option>
                        <option [value]="true">Sim</option>
                        <option [value]="false">Não</option>
                    </select>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-primary w-100" placement="top" ngbTooltip="Filtrar" (click)="carregarLancamentos()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div *ngIf="this.lstLancamentosDespesas.length != 0" class="col">
                <div class="form-group">
                    <br />
                    <strong>Saldo anterior: {{ saldoAnterior | currency:'BRL' }}</strong>
                    <br />
                    <strong>Saldo atual: {{ saldoAtual | currency:'BRL' }}</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-hover table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Tipo de transação</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Saldo</th>
                            <th scope="col">Há ajustes para despesa?</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!loading">
                            <ng-container *ngFor="let lancamento of this.lstLancamentos">
                                <tr>
                                    <td>{{lancamento?.dataEvento|date:'shortDate'}}</td>
                                    <td>{{lancamento?.tipoLancamento.toUpperCase() }}</td>
                                    <td *ngIf="lancamento?.tipoLancamento === 'Aplicação para conta investimento' || lancamento?.tipoLancamento === 'Saída'; else elseBlock"> - {{lancamento?.valor|currency:'BRL'}}</td>
                                    <ng-template #elseBlock>{{lancamento?.valor|currency:'BRL'}}</ng-template>

                                    <td>{{lancamento?.saldo |currency:'BRL' }}</td>
                                    <ng-template #list>
                                        <div class="d-flex flex-column">
                                        <span>Despesa ajustada recentemente.</span>
                                        <span>Data: {{lancamento?.dataAtualizacaoItem | date: 'dd/MM/yyyy HH:mm'}}</span>
                                        </div>
                                    </ng-template>
                                    <td>{{lancamento?.nomeAnalise == 'Retornado para Ajustes' ? 'Sim' : 'Não' }}
                                        <i *ngIf="lancamento?.dataAtualizacaoItem" class="fas fa-history" style="color: #0b2f52" tooltipClass="white-space-pre-line" [ngbTooltip]="list"></i>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a *ngIf="lancamento?.tipoLancamento === 'Saída'" [routerLink]="['/gestaoFinanceira/conta-corrente/despesasLancamento/', lancamento.idLancamento]" class="btn btn-info btn-sm" placement="top" ngbTooltip="Visualizar despesas e devoluções deste lançamento"><i class="fas fa-credit-card"></i></a>
                                            <a *ngIf="podeEditar" [routerLink]="['/gestaoFinanceira/conta-corrente/editarLancamento/', lancamento.idLancamento]" class="btn btn-warning btn-sm" placement="top" ngbTooltip="Alterar lançamento"><i class="fas fa-edit"></i></a>
                                            <a *ngIf="lancamento?.idArquivo" [href]="urlDownload + lancamento?.idArquivo" class="btn btn-info btn-sm" placement="top" [ngbTooltip]="'Baixar arquivo'">
                                                <i class="fas fa-file-download"></i>
                                            </a>
                                            <button *ngIf="podeEditar" [disabled]="acaoBloqueada" type="button" class="btn btn-danger btn-sm" placement="top" ngbTooltip="Excluir lançamento" (click)="excluirLancamento(lancamento.idLancamento)"><i class="fas fa-trash-alt"></i></button>
                                            <span *ngIf="lancamento?.quantidadeArquivo > 0" class="paperclip"><i class="fa fa-paperclip"></i></span>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="loading">
                            <tr>
                                <td colspan="6">
                                    <div class="mt-2">
                                        <app-loading-div mensagem="Carregando lançamentos..."></app-loading-div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="msg">
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-info">{{msg}}</div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
